* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif";
  text-decoration: none !important;
}

.linea-superior {
  border: 3px solid #7B7D7D;
  margin: 0;
  margin-bottom: 5px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 80px;
  margin: 0 auto;
}
.header-content .logo img {
  height: 250px;
  width: auto;
}
.header-content .mensaje-SocialMedia-box {
  display: flex;
  align-items: center;
}
.header-content .mensaje-SocialMedia-box .mensaje-box {
  text-align: center;
  margin-right: 300px;
}
.header-content .SocialMedia {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.header-content .SocialMedia a {
  margin-left: 10px;
}
.header-content .SocialMedia img {
  width: 30px;
  margin-left: 10px;
}

.carousel-inner img {
  max-height: 600px;
  object-fit: cover;
}

.carousel-caption h2 {
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(26, 82, 118, 0.7);
  padding: 10px;
  border-radius: 5px;
  display: block;
  text-align: justify;
  margin-bottom: 10px;
  width: fit-content;
  color: #d0d3d4;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.carousel-caption p {
  font-size: 18px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 8px;
  border-radius: 5px;
  display: block;
  text-align: justify;
  margin-bottom: 10px;
  width: fit-content;
  color: #1A5276;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.carousel-caption:hover h2,
.carousel-caption:hover p {
  opacity: 1;
}

.container__about {
  padding: 100px 0px;
  background: #FAFBFE;
  margin-top: 100px;
}
.container__about .about {
  max-width: 1200px;
  margin: auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}
.container__about .about .text__about {
  width: 48%;
  padding-right: 20px;
}
.container__about .about h1 {
  color: #1A5276;
}
.container__about .about p {
  font-size: 16px;
}
.container__about .image__about {
  width: 48%;
  display: flex;
  justify-content: flex-end;
}
.container__about .image__about .image__about img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.text_trust {
  text-align: center;
}

.container__card-primary {
  padding-top: 100px;
}

.card__primary {
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 20px;
}

.text__card-primary {
  max-width: 800px;
  margin: auto;
}
.text__card-primary p {
  color: #1A5276;
  letter-spacing: 4px;
  font-size: var(--text_paragraph);
  font-weight: 500;
}
.text__card-primary h1 {
  font-size: 40px;
  font-weight: 600;
  color: #1A5276;
}

.container__box-cardPrimary {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.box__card-primary {
  max-width: 350px;
  padding: 60px 40px;
  border: 1px solid #e6e6e6;
  border-radius: 20px;
  margin: 14px;
  transition: all 300ms;
}
.box__card-primary:hover {
  border: 1px solid transparent;
  box-shadow: var(--box_shadown-primary);
}
.box__card-primary h2 {
  font-size: 24px;
  margin-top: 40px;
  font-weight: 500;
}
.box__card-primary p {
  margin-top: 20px;
}

footer {
  width: 100%;
  background: #202020;
  color: white;
}
footer .container-footer {
  width: 100%;
  background: #101010;
}
footer .footer {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
footer .copyright {
  color: #C7C7C7;
}
footer .copyright a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
footer .information a {
  text-decoration: none;
  color: #C7C7C7;
}

.container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
.container-footer-all .container-body {
  display: flex;
  justify-content: space-between;
}
.container-footer-all .container-body .colum1 {
  max-width: 400px;
}
.container-footer-all .container-body h1 {
  font-size: 22px;
}
.container-footer-all .container-body p {
  font-size: 14px;
  color: #C7C7C7;
  margin-top: 20px;
}
.container-footer-all .container-body .colum1 img {
  width: 250px;
  height: 250px;
}
.container-footer-all .container-body .colum2 {
  max-width: 400px;
}
.container-footer-all .container-body h1 {
  font-size: 22px;
}
.container-footer-all .container-body .fila {
  margin-top: 20px;
  display: flex;
}
.container-footer-all .container-body .fila img {
  width: 36px;
  height: 36px;
}
.container-footer-all .container-body label {
  margin-top: 10px;
  margin-left: 20px;
  color: #C7C7C7;
}
.container-footer-all .container-body .colum3 {
  max-width: 400px;
}
.container-footer-all .container-body h1 {
  font-size: 22px;
}
.container-footer-all .container-body .fila2 {
  margin-top: 20px;
  display: flex;
}
.container-footer-all .container-body .fila2 img {
  width: 36px;
  height: 36px;
}
.container-footer-all .container-body label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

/*# sourceMappingURL=estilos.css.map */
